# **Session 4: Playing with Data and Functions**

## Functions

In [ ]:
# `range()`, which is a function where you can input a number and it will return a sequence from 0 up to (but not including) that number.
range(100) # 0-> 99

### Define a Function

In [ ]:
def my_first_function():
  print("Hello, how are you")

### Use a Function

In [ ]:
my_first_function()
my_first_function()
my_first_function()
my_first_function()

Hello, how are you
Hello, how are you
Hello, how are you
Hello, how are you

### Functions with Parameters

In [ ]:
def greet(name):
  print("Hello, "+name)

In [ ]:
greet("Soumia")
greet("Amira")

Hello, Soumia
Hello, Amira

### Functions with a Return Value

In [ ]:
def add_numbers(a, b):
  result=a+b
  return result

In [ ]:
print(add_numbers(10,5))

15

In [ ]:
x=3
y=5
c=add_numbers(x,y)
print(c)

8

### Multiple Return Values

In [ ]:
def calculate_rectangle_proprities(lenght, width):

  area=lenght*width
  perimeter=2*(lenght+width)

  return area, perimeter

In [ ]:
a, p=calculate_rectangle_proprities(200,10)

print("Rectangle Area:",a)
print("Rectangle perimeter",p)

rectangle Area: 2000
Rectangle perimeter 420

### SCOPE OF VARIABLES

In [ ]:
a=5 # global variable

def f1():
  k=3
  a=2 # local variable
  print(a)
  print(k)

f1()   # Prints 2
print(a) # Prints 5

2
3
5

### **Problem**:
You want to create a function that checks if a given number is prime or not. A prime number is a positive integer greater than 1 that has no positive integer divisors other than 1 and itself.

In [ ]:
# Function to check if a number is prime
def is_prime(number):#11

  # Numbers less than or equal to 1 are not prime
  if(number<=1):
    return False # We will exit the function

  # Check for factors from 2 to number -1
  for i in range(2,number):# 2-> 9
    #print(str(number)+"/"+str(i))
    if(number%i==0):#11%10==0
      return False # if the number has a divisio it's not a prime we exit the function

  return True # If no divisors found, it's prime

In [ ]:
# Test the function with some numbers

numbers_to_test=[1, 3, 5, 8, 99, 77, 55, 22]

for number in numbers_to_test:
  if(is_prime(number)):
    print(str(number)+" is prime")
  else:
    print(str(number)+" is not prime")

1 is not prime
3 is prime
5 is prime
8 is not prime
99 is not prime
77 is not prime
55 is not prime
22 is not prime

## Dictionaries

### Creating a Dictionary

In [ ]:
my_dictionary={"name":"Sarah", "age":21, "city":"Alger" }
print(my_dictionary)

{'name': 'Sarah', 'age': 21, 'city': 'Alger'}

### Accessing Values

In [ ]:
my_dictionary["age"] # Access the value associated with the key "age"

21

### Dictionary Keys and Values

In [ ]:
my_dictionary.values() # Returns a list of all values.

dict_values(['Sarah', 21, 'Alger'])

In [ ]:
my_dictionary.keys() # Returns a list of all keys.

dict_keys(['name', 'age', 'city'])

In [ ]:
my_dictionary.items() # Returns a list of key-value pairs as tuples.

dict_items([('name', 'Sarah'), ('age', 21), ('city', 'Alger')])

### Modifying and Adding Items

In [ ]:
my_dictionary['age']=22 # Update the age to 22
my_dictionary

{'name': 'Sarah', 'age': 22, 'city': 'Alger'}

In [ ]:
my_dictionary['gender']="female"  # Add a new key-value pair
my_dictionary

{'name': 'Sarah', 'age': 22, 'city': 'Alger', 'gender': 'female'}

### Removing Items

In [ ]:
del my_dictionary["city"] # Remove the "city" key-value pair

my_dictionary

{}

## Buidling a Contact Managment System
 this program will allow users to add contacts,
 view contact details,
 search for contacts by name,
 quit the program,
 We will use functions and dictionaries.

In [ ]:
#  this program will allow users to add contacts,
# view contact details,

In [ ]:
# Initialize an empty dictionary to store contacts
contacts={}# {"Sarah":"000000222","Amira":"9999008779"}

In [ ]:
# Function to add a new contact
def add_contact():
  name=input("Enter contact name :")
  phone_number=input("Enter contact phone number :")

  contacts[name]=phone_number

  print("Contact "+name+" added successfully")

In [ ]:
# Function to view contact details
def view_contact():
  name=input("Enter contact name")
  print("Contact details for "+name)
  print("Phone:"+contacts[name])

In [ ]:
# Main program loop

exit=False

while(not exit):

  print("\n Contact Managment System")
  print("1.add contact")
  print("2.view contact details")
  print("3.Exit")

  choice=int(input("Enter your choice:"))

  if(choice==1):
    add_contact()
  elif(choice==2):
    view_contact()
  elif(choice==3):
    exit=True
  else:
    print("Invalid choice, Try again")

 Contact Managment System
1.add contact
2.view contact details
3.Exit
Enter your choice:1
Enter contact nameAmel
Enter contact phone number199199191
Contact Amel added successfully

 Contact Managment System
1.add contact
2.view contact details
3.Exit
Enter your choice:2
Enter contact nameAmel
Contact details for Amel
Phone:199199191

 Contact Managment System
1.add contact
2.view contact details
3.Exit
Enter your choice:3