# **Session 1: Getting Started with Python Basics**

Original file is located at
    https://colab.research.google.com/drive/1BGauZj_OvDlNK6xcxoF13ne48lEE1D5I

## HELLO WORLD

In [1]:
print("Hello World")

Hello World

## Comments

In [2]:
# for one line

In [3]:
"""
this is also a comment but for multi-Line
blabla
"""

'\nthis is also a comment but for multi-Line\nblabla\n'

In [4]:
'''
this also a mluti-line comment
to rpovide more detailed explanations or notes.
'''

'\nthis also a mluti-line comment\nto rpovide more detailed explanations or notes.\n'

## Variables

In [5]:
age = 25
print(age)
age=4
print(age)

25
4

In [6]:
# the variable y is not recognized
# because it hasn't been assigned a value before
# so there is not a value to print
print(y)

NameError: ignored

##Naming rules and keywords

In [7]:
"""
vaiable names should have a combination of letters
in lower case (a to z)
or uppercase (A to Z)
or digits (0 to 9)
or an underscore (_)
"""

'\nvaiable names should have a combination of letters\nin lower case (a to z)\nor uppercase (A to Z)\nor digits (0 to 9)\nor an underscore (_)\n'

In [8]:
Age=3
age2=4
age_of_someone=3

In [9]:
#don't start a variable name with a digit
1y=4

SyntaxError: ignored

In [10]:
# uppercase is for constant in python (les bonnes pratiques)
AGE=5

In [12]:
# create a name that makes sense
jsoosj=0 # avoid using unclear or unrelated variable names
game_score=0

In [13]:
# a variable name having two words or more
number_of_cats=4
NumberOfCars=1

In [ ]:
^=4 # incorrect variable names

In [ ]:
# Keywords are the reserves words in Python
# they can not be used as oridnary varibales
if=3 # incorrect variable names

In [14]:
#here is the list of the keywords in Python
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Data types

In [15]:
# Integers
b=4
print(type(b))

<class 'int'>

In [16]:
# floats
poids=55.55
print(poids)
print(type(poids))

55.55
<class 'float'>

In [17]:
# String
text="bla bla"
print(text)
print(type(text))
longtext="""
bla bla
test test
"""
print(longtext)

bla bla
<class 'str'>

bla bla
test test

In [18]:
# Booleans
is_studnet=True
print(is_studnet)
print(type(is_studnet))

True
<class 'bool'>

In [19]:
is_teacher=False
print(is_teacher)
print(type(is_teacher))

False
<class 'bool'>

##Basic operators

In [20]:
# Addition
result=4+5.7
result

9.7

In [21]:
# Subtraction
difference=5-7.5
difference

-2.5

In [22]:
# Multiplication
product=5*4998.5
product

24992.5

In [23]:
# Division
quotient=70/7
quotient

10.0

In [24]:
# Modulo %
remainder=3%2
remainder

1

In [25]:
# Exponent
power=2.3**3
power

12.166999999999998

##Working with Data Types

In [26]:
# You can perform operations on integers and floats just like in math.
average=(10.5+2)/2
print(average)

6.25

In [32]:
# We can add strings and they will stick together
sentence="Hello"+" World"
print(sentence)
This_is_string='sjsoos'
sentence+This_is_string

Hello World

'Hello Worldsjsoos'

## Input and Output

**Input (Getting Information):**

In [33]:
name = input("What's your name? ")
print(type(name))
print("Hello, " + name + "!")

What's your name? Sarah
<class 'str'>
Hello, Sarah!

**Output (Showing Information):**

In [34]:
print(name) # print the value of variable

Sarah

In [36]:
print("Hellooo") # print text in the screen

Hellooo

In [ ]:
age=3
print("her age is "+age) # This will result in an error because you can't concatenate a string with an integer

In [37]:
print("her age is "+str(age))
# Convert the integer 'age' to a string using the str() function

her age is 4

In [38]:
x=input("What's x?")
y=input("What's y?")
z=x+y
print(z) # The result will be a concatenation of the values of 'x' and 'y'
# This is because the input values are treated as strings by default

What's x?2
What's y?2
22

In [39]:
z=int(x)+int(y)
print(z)
type(z)
"""
The result is now correct.
The use of int(x), is called “casting” where a value is temporarily changed from one type of variable (in this case a string)
to another (here, an integer).
"""

4

'\nThe result is now correct. \nThe use of int(x), is called “casting” where a value is temporarily changed from one type of variable (in this case a string) \nto another (here, an integer).\n'

In [40]:
type(x)
type(y)

str

In [41]:
# We can further improve our program as follows:
# By using float(), we ensure that 'x' and 'y' are treated as float
x = float(input("What's x?"))
y = float(input("What's y?"))
z=x+y
print(z)
print(type(x))
print(type(y))

What's x?2
What's y?4
6.0
<class 'float'>
<class 'float'>

In [42]:
chaine="True"
bool(chaine) # This converts the string "True" to the boolean value True

True